langchain==0.3.27
langchain_chroma==0.2.5
langchain_community==0.3.27
langchain_core==0.3.74
langchain_groq==0.3.7
langchain_huggingface==0.3.1
langchain_tavily==0.2.11
langgraph==0.6.4
pydantic==2.11.7
python-dotenv==1.1.1
